# Ignore a single file
dataset.csv
path.py

# Ignore an entire directory
data/
.vscode/
*cache*/
models/
runs/

# Ignore all files with a specific extension
*.log
*.png

# Ignore all files in any directory named cache
cache/

# Ignore files with names starting with `temp-`
temp-*

# Exclude all .a files except for lib.a (negation pattern)
*.a
!lib.a